#chat-screen{
    background-color: #abc1d1;
    height: 500vh;
}

#chat-screen .status_bar{
    background-color: #abc1d1;
    z-index: 3;
}

#chat-screen .alt-header{
    margin-top: 0px;
    padding-top: 40px;
    background-color: #abc1d1;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    top:0;
    z-index: 2;
}

.main-chat{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.chat__timestamp{
    color:white;
    background-color: #92a4b2;
    padding:15px;
    border-radius: 30px;
    z-index: 1;
    font-size: 12px;
}

.message {
    width: 100%;
    margin-top: 30px;
    display:flex;
}

.message__avatar{
    width: 50px;
    height: 50px;
    border-radius: 40%;
    margin-right: 10px;
}

.message__author,
.message__time{
    opacity: 0.7;
    font-size: 12px;
}

.message__author{
    font-size: 15px;
}
.message__info{
    margin-top: 5px;
    display: flex;
    align-items: flex-end;
}

.message__text{
    background-color: white;
    padding:10px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    margin-right: 5px;
}

.message--own{
    flex-direction:row-reverse;
}

.message__text--own{
    background-color: var(--yellow);
    border-top-left-radius: 15px;
    border-top-right-radius: 0px;
    order:1;
    margin-right: 0px;
    margin-left: 5px;
}

.message__time--own{
    order:0;
}

.reply{
    padding:10px 5px;
    background-color: white;
    position: fixed;
    bottom:0px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.reply__column{
    display: flex;
    align-items: center;
}

.reply__column:first-child{
    width: 10%;
    display: flex;
    justify-content: center;
}

.reply__column:last-child{
    width: 90%;
}

.reply__input{
    width: 100%;
    padding:10px;
    border-radius: 20px;
    border:var(--border-line);
}

.reply__column:last-child > i,
.reply__column button{
    position: absolute;
    right: 60px;
}

.reply__column button{
    right: 10px;
    background-color: var(--yellow);
    padding: 8px;
    border-radius: 50%;
    border: none;
}