.recommended-friends{
    border-top: var(--border-line);
    border-bottom: var(--border-line);
    margin-top: 15px;
    padding:15px 0px;
}

.recommended-friends__title span{
    color:var(--sub-font-color);
    font-size:15px;
}

.recommended-friends__content{
    padding: 80px 0px;
    text-align: center;
    color:var(--sub-font-color);
}

.open-chat__header{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.open-chat__header h4{
    font-size: 15px;
    opacity: 0.7;;
}
.open-chat__header span{
    font-size: 13px;
    color:var(--sub-font-color);
}

.open-post {
    padding-top:10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.open-post__column h2{
    font-size:14px;
    margin-bottom: 6px;
}

.open-post__column h3{
    font-size:13px;
    color:var(--sub-font-color);
    text-transform: uppercase;
    margin-bottom: 5px;
}

.open-post__member{
    display:flex;
    align-items: center;
}

.open-post__img{
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin-right: 4px;
}

.open-post__count{
    font-size: 12px;
    color: var(--sub-font-color);
}

.open-post__member .divide{
    width: 1px;
    height: 13px;
    background-color: var(--sub-font-color);
    margin: 0px 5px;
}

.open-post__status{
    color:#ffb0e0;
    font-size:12px;
}

.open-post__photo{
    position: relative;
    right:10px;
}

.open-post__photo img{
    width:80px;
    height:80px;
    border-radius: 15px;
}

.open-post__heart-count{
    position:absolute;
    left:25px;
    bottom:10px;
    width: 45px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color:white;
    font-size: 10px;
}

.open-post__heart-count i{
    margin-right: 4px;
}

@keyframes heartBeat {
    0%{
        color:white;
        transform: none;
    }
    50%{
        color:tomato;
        transform: scale(1.5);
    }
    100%{
        color:white;
        transform: none;
    }
}

.open-post__heart-count i:hover{
    will-change: transform;
    animation: heartBeat 1s linear infinite;
}