.friends-names-display{
    text-align: center;
    display: block;
    background-color: #fafafa;
    font-size: 14px;
    padding: 20px 0px;
}

.friends-names-display i{
    color:var(--sub-font-color)
}

.friends-screen{
    padding: 0px var(--horizontal-space);
}

.friends-screen__channel{
    margin-top:7px;
    padding-top:10px;
    border-top: var(--border-line);
}

.friends-screen__channel-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.friends-screen__channel-header--opa,
.user-component__column--opa{
    color:var(--sub-font-color)
}

@keyframes hideSplashScreen {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        visibility: hidden;
    }
}

#splash-screen{
    background-color: var(--yellow);
    height: 100vh;
    width: 100vw;
    position:absolute;
    top:0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    animation: hideSplashScreen 1s ease-in-out forwards;
    animation-delay: 1s;
}