.friends-names-display{
    text-align: center;
    display: block;
    background-color: #fafafa;
    font-size: 14px;
    padding: 20px 0px;
}

.friends-names-display i{
    color:rgba(0,0,0,0.3)
}

.user-component,
.user-component__column:first-child{
    display: flex;
    align-items: center;
}

.user-component__column{
    padding: 10px 0px;
}

.user-component__avatar{
    margin-right:15px;
    width:70px;
    height:70px;
    border-radius: 25px;
}

.user-component__title{
    font-size: 20px;
    font-weight: 550;
}

.user-component__subtitle{
    margin-top: 5px;
    color:rgba(0,0,0,0.3);
    font-size: 16px;
}

.user-component__avatar--xl{
    width: 65px;
    height: 65px;
}

.user-component__avatar--sm{
    width: 50px;
    height: 50px;
    border-radius: 20px;
}

.friends-screen{
    padding: 0px var(--horizontal-space);
}

.friends-screen__channel{
    margin-top:7px;
    padding-top:10px;
    border-top: 1px solid rgba(0,0,0,0.2);
}

.friends-screen__channel-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.user-component:last-child{
    display: flex;
    justify-content: space-between;
}

.user-component__title--bold-not{
    font-weight: 500;
}

.friends-screen__channel-header--opa,
.user-component__column--opa{
    color:rgba(0,0,0,0.3)
}

