.friends-names-display{
    text-align: center;
    display: block;
    background-color: #fafafa;
    font-size: 14px;
    padding: 20px 0px;
}

.friends-names-display i{
    color:var(--sub-font-color)
}

.friends-screen{
    padding: 0px var(--horizontal-space);
}

.friends-screen__channel{
    margin-top:7px;
    padding-top:10px;
    border-top: var(--border-line);
}

.friends-screen__channel-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.friends-screen__channel-header--opa,
.user-component__column--opa{
    color:var(--sub-font-color)
}

