.nav {
    position: fixed;
    bottom: 0;
    width:100%;
    box-sizing: border-box;
    background-color: #f9f9fa;
    padding: 20px 40px;
    border-top: 1px solid rgba(192, 192, 192, 0.3);
}

.nav__list{
    display: flex;
    justify-content: space-between;
}

.nav__link{
    position: relative;
}

.nav__notification{
    position: absolute;
    bottom:9px;
    left:13px;
}

.nav__dot{
    background-color: tomato;
    width:6px;
    height:6px;
    border-radius:3px;
    display:flex;
    position:absolute;
    bottom:18px;
    left:20px;
}