.user-component,
.user-component__column:first-child{
    display: flex;
    align-items: center;
}

.user-component__column{
    padding: 10px 0px;
}

.user-component__avatar{
    margin-right:15px;
    width:70px;
    height:70px;
    border-radius: 25px;
}

.user-component__title{
    font-size: 20px;
    font-weight: 550;
}

.user-component__subtitle{
    margin-top: 5px;
    color:var(--sub-font-color);
    font-size: 16px;
}

.user-component__avatar--xl{
    width: 65px;
    height: 65px;
}

.user-component__avatar--sm{
    width: 50px;
    height: 50px;
    border-radius: 20px;
}

.user-component:last-child{
    display: flex;
    justify-content: space-between;
}

.user-component__title--bold-not{
    font-weight: 500;
}

.user-component__column:last-child{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-component__column--time{
    margin-bottom: 8px;
    color:var(--sub-font-color);
    font-size: 14px;
}